*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
background-color: rgb(164, 125, 200);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.logo{
    text-decoration: none;
    color: aqua;
    font-weight: 800;
    font-size: 2em;
}

.navigation a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 20px;
    transition: 0.5s ease;
    
}

.navigation a:hover{
    color: violet;
   
}

.bsov{
    width: 100%;
    min-height: 10vh;
    background-attachment: fixed;
    background: linear-gradient(to right, #b4c3f4 , #b38ff1 , #eee9e9);
    
}

.bsov h1{
    font-size: 3em;
    font-weight: 800;
    color: #ffffff;
    padding-top: 3em;
    padding-left: 2em;
}

.content{
    padding-top: em;
    padding-left: 4em;
    flex-direction: row;
    
}

.card{
 
    width: 20em;
   
    border-radius: 40px;
    margin: 30px;

}



.info h3{
    color: #ffffff;
    font-size: 2.2em;
    margin-top: 2em;
    font-weight: 600;
}

.info p{
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 17px;
    color: #fff;


}

.info a{

    font-size: 0.8em;
    text-decoration: none;
    color: aqua;
    background-color: #793da8;
    border-radius: 1.5em;
    padding: 16px;

}


.info a:hover{
    color: violet;
}

.bsplusov{
    width: 100%;
    min-height: 150vh;
    background-attachment: fixed;
    background: linear-gradient(to right, #b4c3f4 , #b38ff1 , #eee9e9);
  
}

.bsplusov h1{
    font-size: 3em;
    font-weight: 800;
    color: #ffffff;
    padding-top: 3em;
    padding-left: 2em;
}
